html {
    font-size: 20px;
}

@media screen and (max-width: 540px) {
    html {
        font-size: 3.7vmin;
    }
}

body {
    font-family: "Poppins", sans-serif;
    transition: background-color 250ms;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    z-index: 99;
    transition: visibility 2000ms, opacity 2000ms;
}

#GameResults {
    display: none;
}

/*Dark Theme*/

.dark,
.dark #loading,
.dark .modal {
    color: rgb(216, 216, 216);
}

.dark,
.dark #loading,
.dark .modal-content {
    background: rgb(27, 27, 27);
}

.dark .flagpic {
    opacity: 0.75;
}

.dark_flaggletext {
    color: rgb(216, 216, 216);
}

.dark_colorkeys {
    color: rgb(149, 149, 226);
    border-color: rgb(149, 149, 226);
}

.dark .guessindicators {
    border-color: rgb(75, 75, 75);
    background: rgb(70, 70, 70);
}

.dark .guessindicators.guessed,
.dark .guessindicators.flag_guessed {
    border-color: rgb(75, 75, 75);
    background: rgb(27, 27, 27);
}

.dark .guessindicators.current {
    border-color: rgb(149, 149, 226);
    background: rgb(70, 70, 70);
}

.dark .colors {
    box-shadow: 0 0.15rem 0.4rem rgba(149, 149, 226, 0.75);
}

.dark .colors[data-disabled] {
    box-shadow: 0 0 0 rgba(149, 149, 226, 0);
}

.dark .guessindicators.purple {
    border: 0.1rem solid;
    border-radius: 0.1rem;
    border-color: rgb(75, 75, 75);
    background: rgb(149, 149, 226);
}

.dark #guesses,
.dark #randomflaggle,
.dark #dailyflaggle,
.dark #sharebutton,
.dark .displaybuttons {
    box-shadow: 0 0.15rem 0.25rem rgba(149, 149, 226, 0.75);
}

.dark .displaybuttons:active:not([disabled]) {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.75);
}

.dark .displaybuttons.disabled {
    background-color: rgba(149, 149, 226, 0.425);
}

.dark #middlediv {
    background: rgb(27, 27, 27);
    border: 0.05rem solid rgb(27, 27, 27);
    color: white;
}

/*End of Dark Theme*/

.HeaderBody {
    align-items: center;
    justify-content: center;
}

.MainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.05rem solid grey;
    width: 26rem;
    padding-top: 0.5rem;
    margin: 0 auto;
}

#MainHeaderText {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.material-icons-outlined {
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    display: inline-block;
}

#flag {
    cursor: default;
    opacity: 0;
}

#stats:hover, #howto:hover, #settings:hover {
    color: grey;
    cursor: pointer;
}

#keyscontainer {
    width: 100%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0.5rem;
}

#colorkeys {
    width: 25.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 0.2rem;
}

.colors {
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.4rem;
    text-align: center;
    /* width: 2.5rem; */
    width: 3.5rem;
    height: 3.5rem;
    /* margin-left: 0.1rem;
    margin-right: 0.1rem; */
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.75);
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
    /* flex-grow: 1; */
}

.colors[data-disabled] {
    border-width: 0.2rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.colors[data-disabled][data-wrong] {
    opacity: 0.1;
}

#green, #demogreen {
    background: green;
}

#red {
    background: red;
}

#black {
    background: rgb(51, 51, 51);
}

#yellow {
    background: yellow;
}

#blue {
    background: blue;
}

#lightblue {
    background: rgb(102, 237, 255);
}

#white {
    background: white;
}

#orange {
    background: orange;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 1rem;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 0.05rem solid #888;
    width: 25rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2),
        0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-family: "Poppins", sans-serif;
    border-radius: 0.5rem;
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -15rem;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -15rem;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */

.close {
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0.5rem;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
}

.modal-header {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    padding: 0.1rem 0.25rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.modalheadertext {
    letter-spacing: 0.05rem;
}

.modal-body {
    border-top: 0.05rem solid grey;
    padding-bottom: 1rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}


#flagsmodalbody {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

#settingsmodalbody {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

#howtomodalbody {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    text-align: left;
}

.colorchange,
.colorchange * {
    -webkit-animation: colorchange 10s infinite;
    animation: colorchange 10s infinite;
    font-weight: bold;
}

@-webkit-keyframes colorchange {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: rgb(255, 209, 4);
    }
    60% {
        color: green;
    }
    80% {
        color: rgb(56, 56, 255);
    }
    100% {
        color: red;
    }
}

@keyframes colorchange {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: rgb(255, 209, 4);
    }
    60% {
        color: green;
    }
    80% {
        color: rgb(56, 56, 255);
    }
    100% {
        color: red;
    }
}

.wavy span {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 2em;
    -webkit-animation: animate 2s ease-in-out;
    animation: animate 2s ease-in-out;
    -webkit-animation-delay: calc(0.1s * var(--i));
    animation-delay: calc(0.1s * var(--i));
}

@-webkit-keyframes animate {
    0% {
        transform: translateY(0rem);
    }
    20% {
        transform: translateY(-0.25rem);
    }
    40%,
    100% {
        transform: translateY(0rem);
    }
}

@keyframes animate {
    0% {
        transform: translateY(0rem);
    }
    20% {
        transform: translateY(-0.25rem);
    }
    40%,
    100% {
        transform: translateY(0rem);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.3rem;
    height: 1.3rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.9rem;
    width: 0.9rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgb(149, 149, 226);
}

input:focus + .slider {
    box-shadow: 0 0 0.05rem rgb(149, 149, 226);
}

input:checked + .slider:before {
    transform: translateX(1rem);
}

/* Rounded sliders */

.slider.round {
    border-radius: 0.65rem;
}

.slider.round:before {
    border-radius: 50%;
}

.settingsfont {
    /* font-size: 110%; */
    font-weight: bolder;
}

.settingsdivs {
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    padding-bottom: 1rem;
    border-bottom: 0.05rem solid grey;
}

#darktheme {
    padding-top: 1rem;
}

/*Stats Display*/

#statsmodalbody {
    text-align: center;
    justify-content: center;
}

#statsdisplay {
    display: inline-block;
    width: 100%;
    height: 6.5rem;
    margin-bottom: 0.5rem;
}

#flagsguessed,
#currentstreak,
#beststreak,
#winpercent {
    display: inline-table;
    width: 3.5rem;
    text-align: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    height: 5rem;
}

.statstext {
    font-size: 2.25rem;
    font-weight: bold;
}

.statsdesc {
    font-size: 0.8rem;
}

/*Flags List*/

#searchbarbox {
    padding: 0.05rem;
    border: 0.1rem solid grey;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    height: 1.65rem;
    width: 17.5rem;
    margin-top: 0.4rem;
    margin-right: 0rem;
    font-size: 0.85rem;
}

#searchbar {
    border: none;
    height: 1.55rem;
    width: 17.3rem;
    font-size: 0.85rem;
}

#searchbutton {
    margin-top: 0.4rem;
    max-height: 1.75rem;
    max-width: 1.65rem;
    border: 0.1rem solid rgb(149, 149, 226);
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    vertical-align: middle;
    cursor: pointer;
    background: rgb(149, 149, 226);
}

#searchbutton:active {
    opacity: 0.8;
}

#searchicon {
    line-height: 1.75rem;
    margin-left: 0.25rem;
    width: 100%;
    color: white;
}

#searchbarcontents {
    display: inline-flex;
}

/*Game Choices*/

#gamediv {
    margin: 0 auto;
    margin-top: 0.5rem;
    /* width: 100%; */
    width: 26rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

#choices {
    text-align: center;
    /* display: inline-block; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /* width: 26rem; */
    margin: 0.5rem auto auto;
    padding: 0.1rem;
}

.flagpic {
    width: 4.75rem;
    height: 2.5rem;
    /* margin-left: 0.1rem;
    margin-right: 0.1rem; */
    border: 0.1rem solid;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 150ms, transform 150ms, -webkit-filter 150ms;
    transition: opacity 150ms, filter 150ms, transform 150ms;
    transition: opacity 150ms, filter 150ms, transform 150ms, -webkit-filter 150ms;
    transition: opacity 150ms, filter 150ms, transform 150ms,
        -webkit-filter 150ms;
    -o-object-fit: cover;
    object-fit: cover;
}

.flagpic:hover {
    transform: scale(1.05);
    -o-object-fit: contain;
    object-fit: contain;
    opacity: 1;
}

.flagpic[data-disabled] {
    opacity: 0.1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: default;
}

.flagpic[data-disabled]:hover {
    transform: none;
    opacity: 0.1;
}

.flagname {
    width: 5rem;
    /* margin-left: 0.1rem;
    margin-right: 0.1rem; */
    font-size: 0.85rem;
    font-weight: bold;
    transition: opacity 150ms;
    transform: scale(0.8, 1);
}

.flagname a {
    text-align: center;
}

.flagname[data-disabled] {
    opacity: 0.1;
}

.flagpics,
.flagnames {
    display: inline-flex;
    justify-content: space-evenly;
    align-content: stretch;
}

.flagpics {
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-bottom: 0.5rem;
    gap: 0.2rem;
}

.flagnames {
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    height: 1.7rem;
    line-height: 0.85rem;
    margin-bottom: 0.5rem;
    gap: 0.2rem;
}

.DisplayBody {
    align-items: center;
    justify-content: center;
}

.MainDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26rem;
    margin: 0.5rem auto 0;
    /* background-color: rgb(149, 149, 226); */
    border-radius: 0.5rem;
}

#guesses {
    border: 0.1rem solid rgb(149, 149, 226);
    background-color: rgb(149, 149, 226);
    height: 0.8rem;
    border-radius: 0.25rem;
    width: auto;
    padding: 0.1rem;
    vertical-align: middle;
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.75);
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
    cursor: pointer;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
}

#guesses:active {
    top: 0.1rem;
    background-color: rgb(119, 119, 175);
    border: 0.1rem solid rgb(119, 119, 175);
    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.75);
    opacity: 0.85;
}

#resultguesses .flaggle {
    border: none;
    background: none;
    margin-left: 0.5rem;
    display: inline-block;
}

.guessindicators {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 0.8rem;
    border-width: 0.05rem;
    border-style: solid;
    border-color: rgb(143, 143, 143);
    background-color: white;
    display: inline-block;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    box-sizing: border-box;
    transition: transform 150ms, scale 150ms, margin 150ms,
        background-color 150ms;
}

.guessindicators.flag_guessed {
    border-radius: 0.1rem;
    border: 0.1rem solid;
    border-color: black;
    background: black;
}

.guessindicators.current {
    transform: scale(2);
    border-color: rgb(149, 149, 226);
    background: white;
    border-width: 0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.guessindicators.guessed {
    border-width: 0.1rem;
    border-color: black;
}

.guessindicators.purple {
    border: 0.1rem solid;
    border-radius: 0.1rem;
    border-color: black;
    background: rgb(149, 149, 226);
}

.guessindicators.guessed.green {
    background: green;
}

.guessindicators.guessed.red {
    background: red;
}

.guessindicators.guessed.black {
    background: black;
}

.guessindicators.guessed.yellow {
    background: yellow;
}

.guessindicators.guessed.blue {
    background: blue;
}

.guessindicators.guessed.lightblue {
    background: rgb(102, 237, 255);
}

.guessindicators.guessed.white {
    background: white;
}

.guessindicators.guessed.orange {
    background: orange;
}

.displaybuttons {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: white;
    height: 1.75rem;
    border-radius: 0.5rem;
    width: 6rem;
    box-sizing: content-box;
    padding: 0.25rem;
    padding-bottom: 0.5rem;
    border: 0.1rem solid rgb(149, 149, 226);
    background-color: rgb(149, 149, 226);
    box-shadow: 0rem 0.15rem 0.25rem rgba(0, 0, 0, 0.75);
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
    cursor: pointer;
    position: relative;
}

#gamediv .displaybuttons {
    margin-top: 0.25rem;
}

.displaybuttons:active:not([disabled]) {
    top: 0.1rem;
    background-color: rgb(119, 119, 175);
    border: 0.1rem solid rgb(119, 119, 175);
    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.75);
    opacity: 0.85;
}

.displaybuttons.disabled {
    opacity: 0.3;
    cursor: default;
}

/*Stats Modal*/

#drchoice {
    width: 15rem;
    height: 2rem;
    margin: 0 auto;
    display: inline-flex;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#drchoiceleft {
    width: 50%;
    height: 2rem;
    background-color: rgb(149, 149, 226);
    border: 0.1rem solid rgb(149, 149, 226);
    border-right-width: 0.05rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    cursor: pointer;
    /* box-shadow: 0rem 0.15rem 0.25rem rgba(0, 0, 0, 0.75); */
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
}

#drchoiceleft:active:not([disabled]) {
    top: 0.1rem;
    background-color: rgb(119, 119, 175);
    border: 0.1rem solid rgb(119, 119, 175);
    /* box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.75); */
    opacity: 0.85;
}

#drchoiceleft.disabled {
    opacity: 0.3;
    cursor: default;
}

#drchoiceright {
    width: 50%;
    height: 2rem;
    background-color: rgb(133, 133, 133);
    border: 0.1rem solid rgb(121, 121, 121);
    border-left-width: 0.05rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    cursor: pointer;
    /* box-shadow: 0rem 0.15rem 0.25rem rgba(0, 0, 0, 0.75); */
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
}

#drchoiceright:active:not([disabled]) {
    top: 0.1rem;
    background-color: rgb(119, 119, 175);
    border: 0.1rem solid rgb(119, 119, 175);
    /* box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.75); */
    opacity: 0.85;
}

#drchoiceright.disabled {
    opacity: 0.3;
    cursor: default;
}

.statsmodetext {
    line-height: 1.75rem;
    font-size: 1rem;
    color: white;
}

/*Results Modal*/

.resultsmodal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 1rem;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#gameresults-content {
    text-align: center;
    padding-bottom: 1rem;
}

#flagglepic {
    width: 15rem;
    max-height: 15rem;
    border: 0.05rem solid grey;
    margin-top: 1rem;
}

#flaggleresultsdata {
    margin-bottom: 1rem;
}

.statsmodetextresults {
    font-weight: bold;
    line-height: 1.75rem;
}

.modalfooter {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
}

.dailycountdowntext {
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

.dailycountdowndiv {
    margin-top: 0.5rem;
}

.footerhalf {
    display: inline-block;
    width: 50%;
    height: 3.25rem;
    padding-right: auto;
    padding-left: auto;
}

#footerleft {
    border-right: 0.1rem solid grey;
}

#sharebutton {
    height: 2rem;
    max-height: 2rem;
    /* padding-top: 0.45rem; */
}

#sharetext {
    line-height: 1.5rem;
    font-weight: bold;
    font-size: 1.25rem;
}

/*Stats Modal*/

#sharebuttonstat {
    height: 1.5rem;
    max-height: 1.5rem;
    padding-top: 0.45rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

#sharetextstat {
    line-height: 1.5rem;
    font-weight: bold;
    font-size: 1.15rem;
}

/*Middle div*/

#middlediv {
    width: 7.5rem;
    /* margin-right: auto;
    margin-left: auto; */
    position: -webkit-sticky;
    position: sticky;
    top: 0.5rem;
    z-index: 5;
    background: white;
    border: 0.05rem solid white;
    color: black;
    border-radius: 0.5rem;
    padding-bottom: 0.25rem;
}

#drnotiftext {
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

#dailyflaggle {
    margin-left: 0.5rem;
}

#randomflaggle {
    margin-right: 0.5rem;
}

#flaglistnotif {
    text-align: center;
    font-weight: bold;
}

/* F.A.Q. and About Contents */

#disclaimer {
    justify-content: left;
    text-align: left;
    margin-top: 1rem;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    border-bottom: 0.05rem solid grey;
}

.textlink {
    font-style: none;
    color: rgb(149, 149, 226);
    font-weight: bold;
}

#about {
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

#minidiff {
    font-size: 0.75rem;
    opacity: 0.8;
}

/* Slider */

.hmslider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 0.25rem;  
    background: rgb(149, 149, 226);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .hmslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
    border: 0.05rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.2);
  }

  .hmslider::-moz-range-thumb {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: 0.05rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.2);
  }

.settingsdivsdiff {
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    padding-bottom: 1rem;
}

/* DemoColorKeys */

#demokeyscontainer {
    width: 48%;
}

#democolorkeys {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 0.2rem;
}

.democolors {
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.4rem;
    text-align: center;
    /* width: 2.5rem; */
    width: 3.5rem;
    height: 3.5rem;
    /* margin-left: 0.1rem;
    margin-right: 0.1rem; */
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.75);
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
    /* flex-grow: 1; */
}

#demodiv {
    display: flex;
    width: 100%;
}

#demotext {
    width: 52%;
}

#demoorange {
    background: orange;
    opacity: 0.1;
    border-width: 0.2rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#demoyellow {
    background: yellow;
}

#demogreen {
    background: green;
    border-width: 0.2rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.dark #demoorange {
    color: rgb(149, 149, 226);
    border-color: rgb(149, 149, 226);
}

.dark #demoyellow {
    color: rgb(149, 149, 226);
    border-color: rgb(149, 149, 226);
    box-shadow: 0 0.15rem 0.4rem rgba(149, 149, 226, 0.75);
}

.dark #demogreen {
    color: rgb(149, 149, 226);
    border-color: rgb(149, 149, 226);
}

#textorange {
    color: orange;
}

#textgreen {
    color: green;
}