body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 250ms;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    z-index: 99;
    transition: visibility 1500ms, opacity 1500ms;
}

#GameResults {
    display: none;
}


/*Dark Theme*/

.dark,
.dark #loading,
.dark .modal {
    color: rgb(216, 216, 216);
}

.dark,
.dark #loading,
.dark .modal-content {
    background: rgb(27, 27, 27);
}

.dark .flagpic {
    opacity: 0.75;
}

.dark_flaggletext {
    color: rgb(216, 216, 216);
}

.dark_colorkeys {
    color: rgb(149, 149, 226);
    border-color: rgb(149, 149, 226);
}

.dark .guessindicators {
    border-color: rgb(75, 75, 75);
    background: rgb(70, 70, 70);
}

.dark .guessindicators.guessed,
.dark .guessindicators.flag_guessed {
    border-color: rgb(75, 75, 75);
    background: rgb(27, 27, 27);
}

.dark .guessindicators.current {
    border-color: rgb(149, 149, 226);
    background: rgb(70, 70, 70);
}
.dark .colors {
    box-shadow: 0 3px 5px rgba(149, 149, 226, 0.75);
}

.dark .colors[data-disabled] {
    box-shadow: 0 0 0 rgba(149, 149, 226, 0);
}

.dark .guessindicators.flaggle {
    border: 2px solid;
    border-radius: 2px;
    border-color: rgb(75, 75, 75);
    background: rgb(149, 149, 226);
}

.dark #guesses,
.dark #randomflaggle,
.dark #dailyflaggle,
.dark #sharebutton {
    box-shadow: 0 3px 5px rgba(149, 149, 226, 0.75);
}


/*End of Dark Theme*/

.HeaderBody {
    align-items: center;
    justify-content: center;
}

.MainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    width: 520px;
    padding-top: 10px;
    margin: 0 auto;
}

#MainHeaderText {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 125%;
    margin-left: 80px;
    margin-right: 80px;
    font-weight: bold;
}

.material-icons-outlined {
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
}

.material-icons-outlined:hover {
    color: grey;
    cursor: pointer;
}

#keyscontainer {
    width: 100%;
    text-align: center;
}

#colorkeys {
    width: 510px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.colors {
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    text-align: center;
    width: 50px;
    height: 70px;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
}

.colors[data-disabled] {
    border-width: 4px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.colors[data-disabled][data-wrong] {
    opacity: 0.1;
}

#green {
    background: green;
}

#red {
    background: red;
}

#black {
    background: rgb(51, 51, 51);
}

#yellow {
    background: yellow;
}

#blue {
    background: blue;
}

#lightblue {
    background: rgb(102, 237, 255);
}

#white {
    background: white;
}

#orange {
    background: orange;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    border-radius: 10px;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
}

.modal-header {
    border-radius: 10px 10px 0px 0px;
    padding: 2px 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
}

.modalheadertext {
    letter-spacing: 1px;
}

.modal-body {
    border-top: 1px solid grey;
    padding: 10px 16px;
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}

#colorchange {
    -webkit-animation: colorchange 10s infinite;
    animation: colorchange 10s infinite;
    font-weight: bold;
}

@keyframes colorchange {
    0% {
        color: red;
    }
    15% {
        color: orange;
    }
    32% {
        color: rgb(255, 209, 4);
    }
    49% {
        color: green;
    }
    66% {
        color: rgb(56, 56, 255);
    }
    83% {
        color: rgb(102, 237, 255);
    }
    100% {
        color: red;
    }
}

.wavy span {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 2em;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(.1s*var(--i))
}

@keyframes animate {
    0% {
        transform: translateY(0px)
    }
    20% {
        transform: translateY(-15px)
    }
    40%,
    100% {
        transform: translateY(0px)
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(149, 149, 226);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(149, 149, 226);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 13px;
}

.slider.round:before {
    border-radius: 50%;
}

.settingsfont {
    font-size: 110%;
    font-weight: bolder;
}

.settingsdivs {
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#darktheme {
    padding-top: 20px;
}


/*Stats Display*/

#statsmodalbody {
    text-align: center;
    justify-content: center;
}

#statsdisplay {
    display: inline-block;
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
}

#flagsguessed,
#currentstreak,
#beststreak,
#winpercent {
    display: inline-table;
    width: 70px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
}

.statstext {
    font-size: 45px;
    font-weight: bold;
}

.statsdesc {
    font-size: 16px;
}


/*Flags List*/

#searchbar {
    padding: 6px;
    border: 1px solid;
    border-radius: 5px;
    width: 350px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


/*Game Choices*/

#gamediv {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#choices {
    text-align: center;
    display: inline-block;
    width: 520px;
    margin-top: 10px;
    padding: 2px;
}

.flagpic {
    width: 95px;
    height: 50px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid;
    cursor: pointer;
    background-color: white;
    transition: opacity 150ms, filter 150ms, transform 150ms;
    object-fit: cover;
}

.flagpic:hover {
    transform: scale(1.05);
    object-fit: contain;
    opacity: 1;
}

.flagpic[data-disabled] {
    opacity: 0.1;
    filter: grayscale(100%);
    cursor: default;
}

.flagpic[data-disabled]:hover {
    transform: none;
    opacity: 0.1;
}

.flagname {
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 98%;
    transform: scale(0.8, 1);
    transition: opacity 150ms;
}

.flagname[data-disabled] {
    opacity: 0.1;
}

.flagpics {
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.flagnames {
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    height: 34px;
    line-height: 17px;
    margin-bottom: 5px;
}

.DisplayBody {
    align-items: center;
    justify-content: center;
}

.MainDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 520px;
    padding-top: 10px;
    margin: 0 auto;
}

#guesses {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(149, 149, 226);
    background-color: rgb(149, 149, 226);;
    height: 19px;
    border-radius: 5px;
    width: auto;
    padding: 2px;
    vertical-align: middle;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
    cursor: pointer;
}

.guessindicators {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(143, 143, 143);
    background-color: white;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    transition: transform 150ms, scale 150ms, margin 150ms, background-color 150ms;
}

.guessindicators.flag_guessed {
    border-radius: 2px;
    border: 2px solid;
    border-color: black;
    background: black;
}

.guessindicators.current {
    transform: scale(2);
    border-color: rgb(149, 149, 226);
    background: white;
    margin-left: 10px;
    margin-right: 10px;
}

.guessindicators.guessed {
    border-width: 2px;
    border-color: black;
}

.guessindicators.flaggle {
    border: 2px solid;
    border-radius: 2px;
    border-color: black;
    background: rgb(149, 149, 226);
}

.guessindicators.guessed.green {
    background: green;
}

.guessindicators.guessed.red {
    background: red;
}

.guessindicators.guessed.black {
    background: black;
}

.guessindicators.guessed.yellow {
    background: yellow;
}

.guessindicators.guessed.blue {
    background: blue;
}

.guessindicators.guessed.lightblue {
    background: rgb(102, 237, 255);
}

.guessindicators.guessed.white {
    background: white;
}

.guessindicators.guessed.orange {
    background: orange;
}

.displaybuttons {
    color: white;
    height: 20px;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    padding-bottom: 10px;
    border: 2px solid rgb(149, 149, 226);
    background-color: rgb(149, 149, 226);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
    cursor: pointer;
}

/*Stats Modal*/

#drchoice {
    width: 300px;
    height: 35px;
    margin: 0 auto;
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#drchoiceleft {
    display: inline-block;
    width: 50%;
    height: 35px;
    background-color: rgb(149, 149, 226);
    border: 2px solid rgb(149, 149, 226);
    border-right-width: 1px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

#drchoiceright {
    display: inline-block;
    width: 50%;
    height: 35px;
    background-color: rgb(133, 133, 133);
    border: 2px solid rgb(121, 121, 121);
    border-left-width: 1px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.statsmodetext {
    font-weight: bold;
    line-height: 35px;
    color: white;
}

/*Results Modal*/

.resultsmodal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#gameresults-content {
    text-align: center;
    padding-bottom: 20px;
}

#flagglepic {
    width: 300px;
    max-height: 300px;
    border: 1px solid grey;
}

#flaggleresultsdata {
    margin-bottom: 20px;
}

#resultsmodalfooter {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
}

#dailycountdowntext {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 30px;
}

#dailycountdowndiv {
    margin-top: 10px;
}

.footerhalf {
    display: inline-block;
    width: 50%;
    height: 65px;
}

#footerleft {
    border-right: 2px solid grey;
}

#sharebutton {
    color: white;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 2px solid rgb(149, 149, 226);
    background-color: rgb(149, 149, 226);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
    transition: border-width 150ms, box-shadow 150ms, opacity 150ms;
    cursor: pointer;
}

#sharetext {
    line-height: 40px;
    font-weight: bold;
}